In [1]:
import pandas as pd

In [5]:
data = pd.read_csv(r'../data_total.csv')
data

                                                    data
0      Energy at Origins: Favorable Thermodynamics of...
1      Evolution of brilliant iridescent feather nano...
2      Cortical thickness abnormalities in patients w...
3      Scientists Tested Cats With Scooped Out Eyebal...
4      We continue to evolve: more and more human bei...
...                                                  ...
21395  New study shows higher rate of fractures in pe...
21396  Research on sexual and social expectations of ...
21397  Traumatic brain injury ‘remains a major global...
21398  Our cities are warming and urban greenery coul...
21399  “Our results state, resoundingly, that the mos...

[21400 rows x 1 columns]

# lengths

In [6]:
data_len = []
data_len_index = []
for i in range(len(data)):
    data_len.append(len(data.iloc[i]['data'].split()))
    if data_len[i] > 1000:
        data_len_index.append(i)

In [8]:
data_len.sort(reverse=True)
data_len[:15]

[276589,
 259846,
 250195,
 196796,
 188296,
 180294,
 166917,
 160112,
 151254,
 149969,
 149601,
 148330,
 135526,
 125953,
 118787]

In [5]:
len(data_len)

21400

In [6]:
data_len_w_c = [e for e in data_len if e > 1000]
len(data_len_w_c)

3453

In [7]:
for i in range(len(data_len_index)):
    data

In [8]:
df1 = data.drop(data_len_index)
len(df1)

17947

# crop

In [16]:
def listToString(s):
    str1 = ""
    for ele in s:
        str1 += ele
        str1 += " "
 
    return str1

In [17]:
for i in range(len(data)):
    d_i_list = data.iloc[i]['data'].split()
    if len(d_i_list) > 1000:
        crop_d_i_list = [d_i_list[x] for x in range(len(d_i_list)) if x < 100000]
        data.at[i,'data'] = listToString(crop_d_i_list)

In [18]:
data_len = []
for i in range(len(data)):
    data_len.append(len(data.iloc[i]['data'].split()))

In [ ]:
print(len(data.iloc[19000]['data'].split()))
print(data.iloc[19000]['data'])

In [ ]:
data_len.sort(reverse=True)
data_len

In [ ]:
data_len.sort(reverse=False)
data_len

In [22]:
len(data_len)

21400

In [23]:
count = 0
new_data = []
for i in range(len(data)):
    if len(data.iloc[i]['data'].split()) < 10:
        count+=1
    else:
        new_data.append(data.iloc[i]['data'])
print(count)

2469

In [24]:
print(len(new_data))

18931

In [25]:
new_data = pd.DataFrame(new_data)
new_data.to_csv("data_total_longest_100000.csv", index=False)